<h3> Freshmen <i class="fas fa-map-signs"></i> Connect</h3>
<div class="section" >
     <h4 class="lead"> Annonuncement/Digest for freshies!</h4>
    <p class="lead">An Initiative by Entrepreneurship Cell, IET Lucknow</p>
    
   
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Login
    </a>
    <p class="lead">This is a pilot run. The website would be live soon on the IET domain.</p>
</div>

